.carousel-inner {
    position: relative;
}
.carousel-inner img{
    width: 100%;
    height: 700px !important;
    filter: grayscale(50%);
}
.carousel-caption{
    position: absolute;
    top: 100px;
}
.carousel-caption h3{
    font-size: 80px;
}
.carousel-caption p{
    font-size: 30px;
}
footer{
    padding: 20px;
    background: rgb(43, 43, 43);
    color: gray;
}
.container h2{
    margin-top: 150px;
    text-align: center;
}
.navbar{
    background: gray;
    border-bottom: 1px;
    opacity: 0.8;
}
.navbar a{
    color: white !important;
}
@media screen and (max-width:767px){
    .carousel-caption h3{
        font-size: 35px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
}